.div4{
    display: flex;
    flex-direction: row;


}
.card{
    padding: 2px;
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: antiquewhite;
    margin-left: 2%;
    margin-right: 7%;
    margin-bottom: 2%;
}
.card > p{
    margin: 0px;
    text-align: center;
}
.card > img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    display: inline;
}
.button{
    margin-top: 20px;
    /* margin-left: 20px; */
}
.button span{
    background-color: lightblue;
    border:1px solid black;
    padding: 5px 20px;
}